<template>
    <div class="container">
        Hello World!!
    </div>
</template>

<script>
    export default {
        mounted() {
            console.log('Blank Component (view) mounted.')
        }
    }
</script>
