<template>
    <div class="row justify-content-center vertical-center">
        <div class="login-form col-md-4 col-lg-4 col-11">


            <h1 class="mb-2 mt-4 text-white">Login</h1>

            <transition name="errmessage">
                <span v-show="getErrorMessage" class="text-danger" v-text="getErrorMessage"></span>
            </transition>

            <input class="login-input" autocomplete="on" type="email" id="email" name="email" placeholder="Email" v-model="email" @keyup.enter="performLogin"/>
            <input class="login-input" autocomplete="on" type="password" id="password" name="password" placeholder="Password" v-model="password" @keyup.enter="performLogin"/>

            <button @click="performLogin" class="signin-button mt-4 col-12" type="submit">
                <div v-if="loading">
                    <font-awesome-icon icon="spinner" spin /> Entrando
                </div>
                <div v-if="!loading">Logar</div>
            </button>

        </div>
    </div>
</template>

<script>
    import {
        mapGetters,
        mapMutations,
        mapActions
    } from 'vuex';

    export default {
        data() {
            return {
                email: '',
                loading: false,
                password: '',
                errorMessage: '',
            }
        },
        computed: {
            ...mapGetters(['getErrorMessage']),
        },
        methods: {
            // ...mapMutations(['']),
            ...mapActions(['doLogin']),
            performLogin() {
                this.loading = true;
                var url = new URL(window.location.href);
                var redirect = url.searchParams.get("returnUrl")
                this.doLogin({
                    email: this.email,
                    password: this.password
                }).then(response => {
                    console.log(response)
                    this.$router.push({path:((redirect != null) ? redirect : '/b')});
                }).catch(err => {
                    console.log(err.response)
                    this.loading = false
                })
            },
        },
        created() {},
        mounted() {

        },
    }
</script>
