<template>
    <div class="global-app">
        <keep-alive>
            <TopBar v-if="getAccessToken" />
        </keep-alive>
        <router-view></router-view>
    </div>
</template>

<script>
    import {
        mapGetters,
        mapMutations,
        mapActions
    } from 'vuex';

    import TopBar from './components/layout/TopBar'

    export default {
        data(){
            return {

            }
        },
        props: {

        },
        computed: {
            ...mapGetters(['getAccessToken','getUserData']),
        },
        methods: {
            ...mapMutations(['setErrorMessage','clearAuthData']),
            ...mapActions(['checkToken']),
            initAxiosInterceptor(){
                axios.interceptors.response.use(undefined, (err) =>{
                    return new Promise( (resolve, reject) => {
                        if ([401,403].indexOf(err.response.status) !== -1) {
                            this.setErrorMessage(err.response.data.message)
                            this.clearAuthData()
                            this.$router.push({path:'/login'})
                            location.reload();
                        }
                        else if([422,429].indexOf(err.response.status) !== -1){
                            console.log(err.response)
                            if(err.response.data.errors){
                                let field = Object.keys(err.response.data.errors)[0]
                                this.setErrorMessage(err.response.data.errors[field][0])
                            }
                            else{
                                this.setErrorMessage(err.response.data.message)
                            }
                        }
                        console.log(err.response)
                        reject(err);
                    });
                });
            }
        },
        components: {
            TopBar
        },
        mounted(){
            
            this.initAxiosInterceptor();

            if(this.getAccessToken){
                this.checkToken();
            }
        }
    };
</script>
