// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.global-app {
    width: 100vw;
    height: 100vh;
    position: relative;
}

/* LOGIN */

.vertical-center {
    min-height: 100%;
    /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh;
    /* These two lines are counted as one :-)       */
    display: flex;
    align-items: center;
}

.signin-button {
    border-radius: 20px;
    border: 1px solid #3d3aec;
    background-color: #3d3aec;
    opacity: 1;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
}

.signin-button:active {
    transform: scale(0.95);
}

.signin-button:focus {
    outline: none;
}

.login-form {
    background: rgba(22, 25, 53, 0.8);
    background: -webkit-linear-gradient(to top, rgb(112, 196, 255), #688ffc);
    background: linear-gradient(to top, rgb(112, 196, 255), #688ffc);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
    /* display: flex; */
    /* opacity:0.8; */
    border-radius: 10px;
    padding: 15px 15px;
    height: 100%;
    text-align: center;
    z-index: 100;
}

.login-input {
    background-color: #eee;
    border-radius: 10px;
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
    width: 100%;
}

.errmessage-leave-active {
    visibility: hidden;
}

.errmessage-enter-active {
    visibility: unset;
    transition: all .4s cubic-bezier(1.0, 0.5, 0.5, 1.0);
}

.errmessage-enter,
.errmessage-leave-to {
    opacity: 0;
}

/* ------------- */