<template>
    <nav class="navbar navbar-expand-sm navbar-light bg-white shadow" style="z-index:1">
        <!-- <a class="navbar-brand" href="javascript:void(0)"><img :src="getEmpresaLogo()" alt=""></a> -->
        <!-- COLLAPSE MENU RESPONSIVE-->
        <div class="">
            <img :src="displayIcon()" alt="icon">
        </div>


        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <ul class="navbar-nav ml-auto mr-4">
                
                <li class="nav-item active mx-auto my-auto">
                    <p class="nav-link text-center mb-0" style="cursor:default">
                        Logado como:
                        <span v-if="getUserData" class="font-weight-bold"> {{getUserData.name}}</span>
                        <span v-if="getUserData" class="text-muted">({{getUserData.email}})</span>
                    </p>
                </li>

                <li v-if="getUserData" class="nav-item ">
                    <div @click="toggle" class="nav-item dropdown m-0">
                        <a @click.stop="toggle" class="nav-link nonselect text-center mx-auto" style="cursor:pointer">
                            <img v-if="!getUserData.img_profile" :src="getBaseURL+'/img/app/default-profile.png'" alt=""
                                class="profile" draggable="false">
                            <img v-else :src="getBaseURL+'/img/thumb/'+getUserData.img_profile" alt="" class="profile"
                                draggable="false">
                        </a>
                        <transition name="dropdown">
                            <div id="dropdown-menu" v-if="toggleMenu" class="dropdown-menu dropdown-menu-right show">
                                <div class="row no-gutters justify-content-center">
                                    <a class="col-12 dropdown-item text-center hover-color" href="javascript:void(0)"
                                        @click="goToProfile">
                                        <font-awesome-icon :icon="['fas', 'user-edit']" /> Perfil</a>
                                    <a href="javascript:void(0)" @click="logout"
                                        class="col-12 dropdown-item text-danger text-center hover-color">
                                        <font-awesome-icon :icon="['fas', 'sign-out-alt']" /> Sair</a>
                                </div>
                            </div>
                        </transition>
                    </div>
                </li>

            </ul>
        </div>
    </nav>

</template>

<script>
    import {
        mapActions,
        mapGetters,
        mapMutations
    } from 'vuex';

    export default {
        data: () => {
            return {
                toggleMenu: false,
                scaleProfile: false
            };
        },
        props: {
            show: Boolean,
            profileRoute: ''
        },
        computed: {
            ...mapGetters(['getUserData', 'getBaseURL']),
        },
        methods: {
            ...mapMutations(['setShowSideBar','toggleFixedSideBar']),
            ...mapActions(['doLogout']),
            toggleSideBar(){
                if(this.getShowSideBar){
                    this.setShowSideBar(false);
                } 
                else{
                    this.setShowSideBar(true);
                }
            },
            goToProfile() {
                console.log("GO TO PROFILE")
            },
            displayIcon(){
                console.log(this.getBaseURL)
                return this.getBaseURL+'/img/app/icon.png'
            },
            toggle() {
                this.toggleMenu = !this.toggleMenu
            },
            detectClick(event) {
                if (this.toggleMenu) {
                    this.toggleMenu = false;
                }
            },
            logout(){
                this.doLogout()
                this.$router.push({path:this.getBaseURL +'/login'})
            }
        },
        components: {},
        mounted() {
            this.$nextTick(function () {
                window.addEventListener('click', this.detectClick)
            })
        },
        beforeDestroy() {
            this.$nextTick(function () {
                window.removeEventListener('click', this.detectClick)
            })
        }
    };
</script>

<style lang="scss" scoped>
    .profile {
        border-radius: 50%;
        object-fit: cover;
        height: 49px;
        width: 49px
    }

    .profile:hover {
        transform: scale(1.1);
    }

    .hover-color:hover {
        background-color: rgba(247, 149, 30, 0.5);
        // transform: scale(1.2);
        // color: #f7941e;
    }

    .dropdown-enter-active {
        transition: all 0.5s;
    }

    .dropdown-leave-active {
        transition: all 0.5s;
    }

    .dropdown-enter,
    .dropdown-leave-to {
        transform: translateX(50px);
        opacity: 0;
    }

    .profile-btn {
        height: 40px;
        width: 40px;
        border-radius: 50%;
        cursor: pointer;
        vertical-align: middle;
    }
</style>
